/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2017, 1:49:44 PM
    Author     : Axe
*/
@font-face {
   font-family: 'db_helvethaica_x';
    src: url('../fonts/DB Helvethaica X.ttf') format('truetype'),
         url('../fonts/DB Helvethaica X.eot') format('embedded-opentype'),
         url('../fonts/DB Helvethaica X.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'db_helvethaica_x_db';
    src: url('../fonts/DB Helvethaica X Bd.ttf') format('truetype'),
         url('../fonts/DB Helvethaica X Bd.eot') format('embedded-opentype'),
         url('../fonts/DB Helvethaica X Bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_helvethaica_x_db';
    src: url('../fonts/DB Helvethaica X Bd.ttf') format('truetype'),
         url('../fonts/DB Helvethaica X Bd.eot') format('embedded-opentype'),
         url('../fonts/DB Helvethaica X Bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'db_helvethaica_x45_light';
    src: url('../fonts/db_helvethaica_x_li-webfont.eot');
    src: url('../fonts/db_helvethaica_x_li-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_x_li-webfont.woff2') format('woff2'),
         url('../fonts/db_helvethaica_x_li-webfont.woff') format('woff'),
         url('../fonts/db_helvethaica_x_li-webfont.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'db_helvethaica_x75_bold';
    src: url('../fonts/db_helvethaica_x_bd-webfont.eot');
    src: url('../fonts/db_helvethaica_x_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_x_bd-webfont.woff2') format('woff2'),
         url('../fonts/db_helvethaica_x_bd-webfont.woff') format('woff'),
         url('../fonts/db_helvethaica_x_bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_helvethaica_x55_regular';
    src: url('../fonts/db_helvethaica_x-webfont.eot');
    src: url('../fonts/db_helvethaica_x-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_helvethaica_x-webfont.woff2') format('woff2'),
         url('../fonts/db_helvethaica_x-webfont.woff') format('woff'),
         url('../fonts/db_helvethaica_x-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}