/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2017, 3:41:00 PM
    Author     : Axe
*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
.logo {
        background-image: url('../images/logo.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image-size: 100% 100%;
        background-size: 100% 100%;
        min-width: 100%;
        min-height: 100%;
        width:162px;
        height:77px;
        margin: 1em;
        float:left;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
.logo {
        background-image: url('../images/logo.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-image-size: 100% 100%;
        background-size: 100% 100%;
        min-width: 100%;
        min-height: 100%;
        width:162px;
        height:77px;
        margin: 1em;
        float:left;
    }
}

/* Medium devices (tablets, 768px and up)*/


/* Large devices (desktops, 992px and up)*/


/* Extra large devices (large desktops, 1200px and up)*/


@media (min-width: 576px){

   /* .modal-dialog {
        max-width: 70vw !important;
        max-height: 50vh !important;
        margin: 25vh auto !important;
    }*/
}


 
 
 

 
.bg-inverse {
    background-color: #ffffff!important;
    box-shadow: 0px 5px 5px #333333;
 }
.bg_body{
    /*background-image: url('../images/banckgroud_2.jpg');*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: scroll;*/
    background-size: 100% 90%;

    background-position: right top;
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

.bg_captions{
    height: 100vh;
    width: 100vw;
}

.carousel {
    position: initial;
}

ul .setting li {
    float: left;
}

/*data
.close{
    margin-top: 5px;
    margin-right: 5px;
 }*/
/*data*/
.center {
    margin: auto;
    width: 99%;
    border: 3px solid green;
    padding: 0px;
}



.menu_action{
    color: #DB022B;
}

a .menu_right{
    color: #333333 !important;
}

.menu_data{
  color: #FFF;
  text-decoration: none;
}





.menu1 {
    margin-top: 2em;
    height: 1em;
}
.menu_bs {
    margin-top: 1.2em;
    height: 1em;
}
#title_page{
    
}


/**select action*/
.carousel-indicators .active {
    background-image: url('../images/index/select_b_action.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    max-width: 48px;
    height: 48px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
      background-image: url('../images/index/select_b.png');
    background-color: rgba(255,255,255,.0);
}
.carousel-indicators .active {
     background-color: transparent; 
}
/***/

.modal-content {
   /* background-color: transparent;
    border:0 !important;*/
    
}

.table td, .table th {
     padding: 0rem; 
    vertical-align: top;
    border-top: 0px solid #F00; 
   text-indent: 0rem; 
}

.text-left {
    text-align: left;
}


.pop_network {
    cursor:pointer
}


.menu_title_action {
     font-family:"db_helvethaica_x75_bold";
     font-weight: bold;
   /* font-size: 2.1em;
    margin-top: 10px !important;*/
    color: #F00 !important;
    text-decoration: underline !important;
}

.a_download{
    cursor:pointer;
}