/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2017, 9:44:44 PM
    Author     : 000
*/
  .f_helvethaica {
        font-family: "db_helvethaica_x";
        font-size: 1.43em;
        font-weight: bold;
        color: #333333;
        line-height: 1.5rem !important;
        text-transform: uppercase;
    }
    
    .font{
        font-family: "db_helvethaica_x";
        font-size: 1.2em;
        font-weight: bold;
        color: #333333;
        line-height: 1em;
        text-transform: uppercase;
    }
    
    .font_th {
        font-family: "db_helvethaica_x";
        font-size: 1.2em;
        font-weight: bold;
        color: #333333;
        line-height: 1em;
        text-transform: uppercase;
    }
    
    .font_en {
        font-family: "db_helvethaica_x";
        font-size: 0.9em;
        font-weight: bold;
        color: #333333;
        line-height: 1em;
        margin-top: 0.2em;
        text-transform: uppercase;
    }
    
    .font_jp {
        font-family: "db_helvethaica_x";
        font-size: 0.7em;
        font-weight: bold;
        color: #333333;
        margin-top: 0.2em;
        line-height: 1.7em;
        text-transform: uppercase;
    }
    
    .img_res {
       /* width: 82%;
        height: 82%;
        margin: 0.2rem auto;*/
    }
    
     .img_width{
        width:2.5em;
    }
    .title_txt {
        font-family: "db_helvethaica_x";
        margin-top: 0.4em;
        font-size: 3.4em;
        font-weight: normal;
        color: #FFF !important;
        margin-right: 1.5em;
    }
    
    .h2, h2 {
        font-size: 2.5rem;
    }
    
    .h3, h3 {
        font-size: 2rem;
    }
    
        
   
    .body_data_text {
       /* margin-top: 2.5rem;*/
        padding-left: 0rem;
        padding-right: 1.7rem;
       /* text-indent: 2rem;*/
        line-height: 2.5rem !important;
    }
    .txt_data{
        font-size: 1.4em;
    
    }
    .scrollbar {
        height: 50vh;
        width: 98%;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .pop_network {
        background-image: url(../images/network/pop_network.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        background-size: 15rem 9rem;
        min-height: 9rem;
        max-height: 10rem;
        background-repeat: no-repeat;
    }
    
    
    
    .pop_network:hover{
        background-image: url(../images/network/bright.png);
      -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        background-size: 15rem 9rem;
        min-height: 9rem;
        max-height: 10rem;
        background-repeat: no-repeat;
        color: #F00 !important;
    }
    
    
    .row_between {
        margin-top: 2em;
    }
    
    ul .setting{
        /* margin: auto;
        width: 99%;
        -webkit-padding-start: 1em;*/
        margin-top: 0.5em;
        padding-left: 0;
       /* float: right;*/
        list-style-type: none;
        font-size: 0.4em;
        margin-right: 0.136vw;
    }
    
    
    .menu_bar{
        width: 13%;
    }
    
    .menu_bar_company{
         width: 11%;
    }
    
    .menu_bar_business{
        width: 13.5%;
    }
    
    .menu_bar_investor{
        width: 12%;
    }
    
    .menu_bar_news{
        width: 12.7%
    }
    
    .menu_bar_corporate{
        width: 13%;
    }
    
    .menu_bar_social{
        width: 13%;
    }
    
    m_left_txt2{
      margin-left: 0em;
      float: left;
    }
    
   
    .menu_bar_social_setting{
        width: 11%
    }
    
    .ui_bar{
        margin-left: 0.8em;
    }
    .new_txt_top{
        
        margin-top: 22em;

    }
    
    .text-center-top_1 {
        padding-right: 1.9em;
    }
    
    .h4_la{
        font-size: 1.5em; 
    }
    
    .h4_th{
    font-size: 1.5em;
    }

    .h4_en{
        font-size: 1.5em;
    }

    .h4_jp{
        font-size: 0.9em;
    }
    .data_management_font {
        font-family: "db_helvethaica_x";
        margin-top: 0.2em;
        font-size: 2.8em;
        font-weight: normal;
        color: #FFF !important;
    }
    
    .row_between_top{
         margin-top: 2em;
    }
    
    .font_title{
        font-family: "db_helvethaica_x";
        margin-top: 0.5em;
        font-size: 2.9em;
        font-weight: bold;
        color: #FFF !important;
        
    }


    .font_title_th{
        font-family: "db_helvethaica_x";
        margin-top: 0.6em;
        font-size: 2.9em;
        font-weight: bold;
        color: #FFF !important;
    }

    .font_title_en{
       font-family: "db_helvethaica_x";
        margin-top: 0.6em;
        font-size: 2.9em;
        font-weight: bold;
        color: #FFF !important;
    }

    .font_title_jp{
        font-family: "db_helvethaica_x";
        margin-top: 1.4em;
        font-size: 2.1em;
        font-weight: bold;
        color: #FFF !important;
        margin-bottom: 1.3em;
    }
    
    .title_center{
        margin-right: 3em;
    }
    
    .txt_story_la{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.7em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}

.txt_story_th{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.7em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}

.txt_story_en{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.6em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}

.txt_story_en_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.6em;
    display: inline;
}


.txt_story_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 0.9em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}





.row1{
     padding-right: 0rem !important;
}

.row_width_5-5 {
     width: 5.5em !important;
}

.row_width_5 {
     width: 5.5em !important;
}


.text_justify {
    padding-left: 0rem;
    text-indent: 0.2rem;
    line-height: 2rem !important;
    margin-top: 10px;
    text-align: justify;
}



/*head */

.txt_head_story_la{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 2em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}

.txt_head_story_th{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 2em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}

.txt_head_story_en{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 2em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}

.txt_head_story_jp{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 1.3em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;
}
.title_center2{
    margin-right:1.4em;
}
.title_center3{
    margin-right:4.9em;
}

.title_center4{
   margin-right: 8vw; 
}

.force-overflow {
    min-height: 1em;
    margin-right: 4em;
}

.top_business_1{
   margin-top: 1em; 
}

.top_business_2{
   margin-top: 0.8em; 
}

.top_head_mar{
     margin-top: 0.7em; 
}


.top_head_mar{
     margin-top: 0.7em; 
}

.txt_menu_en_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    font-size: 1.4em;
    display: inline;
}

.txt_head_en_jp{
    font-family: "db_helvethaica_x";
    font-size: 1.4em;
    display: inline;
    position: absolute;
    margin-top: -0.17em;
}

.txt_head_en2_jp{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 1.5em;
    padding-left: 0rem;
    padding-right: 1.3rem;
    line-height: 2rem !important;
}
 .txt_story_left_la {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.6em;
    line-height: 2rem !important;
}
.txt_story_left_en {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.6em;
    line-height: 2rem !important;
}
.txt_story_left_th {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.6em;
    line-height: 2rem !important;
}

.txt_story_left_jp {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 0.9em;
    line-height: 2rem !important;
}




/*popup*/
.bg_popup{
    background-image: url(../images/data/popup.png);
    width: 800px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;

}


.close{
    background-color: #000;
    width: 0.7m;
    height: 0.7em;
    float: right;
    margin: 10px;
}



.data_right{
    float: right;
    display: inline;
    width: 620px;
}
 .data_left{
    float: left;
    display: inline;
    width: 180px;
}

.data_left_image{
    float: left;
    display: inline;
    width: 50%;
}

.img_data_management{
    width:250px;
    height:auto;
    width: 150px;
    margin: 10px;
}

.bu_close{
    width: 100%;
    display: inline;
}

.text-description{
    margin-top: 25px;
    margin-left: 10px;
}


#style-description::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #a29696;
}

#style-description::-webkit-scrollbar{
     width: 12px;
     /*background-color: #ffffff;*/
}

#style-description::-webkit-scrollbar-thumb{
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #ffffff;
}

.force-overflow_description{
  min-height: 450px;
  margin-right: 0.9em;
}

.scrollbar_description {
    height: 300px;
    width: 597px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

.txt_story_pop_head{
   font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 2em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 2rem !important;  
}
 .txt_story_pop_head_la{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.4em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
}

.txt_story_pop_head_th{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.4em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
}

.txt_story_pop_head_en{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.4em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
}


.txt_story_pop_head_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 0.9em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
    margin-top: 1.2em!important;
}


.txt_story_pop_head_en_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.5em;
    display: inline;
}


 .txt_story_pop_text_la{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.1em;
    padding-left: 1rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
}

.txt_story_pop_text_th{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.1em;
    padding-left: 1rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
}

.txt_story_pop_text_en{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.1em;
    padding-left: 1rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
}


.txt_story_pop_text_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 0.6em;
    padding-left: 1rem;
    padding-right: 1.5rem;
    line-height: 1em !important;
}


.txt_story_pop_text_en_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.7em;
    display: inline;
    line-height: 1em !important;
    
}

.top_pop_tween{
    margin-top: 0.6em;
}


.row_data{
    color: #FFF ;
}
.menu_data{
  color: #FFF ;
  text-decoration: none;
}


 .menu_title_action{
     font-size: 1.7em;
    margin-top: 10px !important;
    color: #F00 !important;
    text-decoration: underline !important;
}