/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2017, 6:09:22 PM
    Author     : 000
*/

.img_width {
        width: 3.1em;
}

.f_helvethaica {
     font-family: "db_helvethaica_x";
     font-size: 1.8em;
     font-weight: bold;
     color: #333333;
     line-height: 1.5rem !important;
     text-transform: uppercase;
 }

 .font{
     font-family: "db_helvethaica_x";
     font-size: 1.5em;
     font-weight: bold;
     color: #333333;
     line-height: 1em;
     text-transform: uppercase;
 }

 .font_th {
     font-family: "db_helvethaica_x";
     font-size: 1.5em;
     font-weight: bold;
     color: #333333;
     line-height: 1em;
     text-transform: uppercase;
 }

 .font_en {
     font-family: "db_helvethaica_x";
     font-size: 1.2em;
     font-weight: bold;
     color: #333333;
     line-height: 1em;
     margin-top: 0.2em;
     text-transform: uppercase;
 }

 .font_jp {
     font-family: "db_helvethaica_x";
     font-size: 1em;
     font-weight: bold;
     color: #333333;
     margin-top: 0.3em;
     text-transform: uppercase;
     line-height: 1.4em !important;
 }

  .img_res {
    /* width: 90%;
     height: 90%;
     margin: 0.2rem auto;*/
 }

  .h2, h2 {
     font-size: 2.8rem;
 }

 .h3, h3 {
     font-size: 2.3rem;
 }


 .h4, h4 {
     font-size: 1.9rem;
 }

 .title_txt {
     font-family: "db_helvethaica_x";
     margin-top: 0.4em;
     font-size: 3.4em;
     font-weight: normal;
     color: #FFF !important;
     margin-right: 1.5em;
 }

 .pop_network {
     background-image: url(../images/network/pop_network.png);
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-position: center center;
     background-size: 19rem 11rem;
     min-height: 11rem;
     background-repeat: no-repeat;
 }
 
   .pop_network:hover{
        background-image: url(../images/network/bright.png);
      -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        /*min-width: 9.35em;
        min-height: 6.4em;
        max-height: 8em;*/
        background-size: 19rem 11rem;
        min-height: 11rem;
        background-repeat: no-repeat;
        color: #F00 !important;
    }

 .txt_data{
     font-size: 1.6em;

 }

 .page {
     position: fixed;
     width: 98%;
     background-color: #203080;
     height: 82vh;
     margin-top: -1em;
     margin-bottom: 1em;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
     filter: alpha(opacity=60);
     -moz-opacity: 0.6;
     -khtml-opacity: 0.6;
     opacity: 0.6;
 }

 .scrollbar {
    height: 60vh;
    width: 98%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 3em;
    margin-bottom: 25px;
}
 .row_between {
     margin-top: 6em;
 }


 ul .setting{
     margin-top: 0.8em;
     padding-left: 0;
     /* float: right; */
     list-style-type: none;
     font-size: 0.8em;
     margin-right: 0.136vw;
 }
  .ui_bar{
     margin-left: 1em;
 }

 .new_txt_top{

     margin-top: 22em;

 }

  .text-center-top_1 {
     padding-right: 4em;
 }
    
.h4_la{
      font-size: 1.8em; 
 }
    
.h4_th{
    font-size: 1.9em;
}

.h4_en{
    font-size: 1.9em;
}

.h4_jp{
    font-size: 1.5em;
}

.title_center{
    margin-right: 2em;
}


.data_management_font {
        font-family: "db_helvethaica_x";
        margin-top: 0.2em;
        font-size: 2.8em;
        font-weight: normal;
        color: #FFF !important;
    }
    
    .row_between_top{
         margin-top: 2em;
    }
    
    .font_title{
        font-family: "db_helvethaica_x";
        margin-top: 0.5em;
        font-size: 2.9em;
        font-weight: bold;
        color: #FFF !important;
        
    }


    .font_title_th{
        font-family: "db_helvethaica_x";
        margin-top: 0.6em;
        font-size: 3em;
        font-weight: bold;
        color: #FFF !important;
    }

    .font_title_en{
       font-family: "db_helvethaica_x";
        margin-top: 0.6em;
        font-size: 3em;
        font-weight: bold;
        color: #FFF !important;
    }

    .font_title_jp{
        font-family: "db_helvethaica_x";
        margin-top: 1.4em;
        font-size: 2.2em;
        font-weight: bold;
        color: #FFF !important;
        margin-bottom: 2em
    }
    
    .title_center{
        margin-right: 3em;
    }
    
    .txt_story_la{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 2.2em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}

.txt_story_th{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 2.2em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}

.txt_story_en{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 2.2em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}

.txt_story_en_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.6em;
    display: inline;
}






.txt_story_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.3em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}

.row1{
     padding-right: 0rem !important;
}

.row_width_5-5 {
     width: 5.5em !important;
}

.row_width_5 {
     width: 5.5em !important;
}


.text_justify {
    padding-left: 0rem;
    text-indent: 0.2rem;
    line-height: 2rem !important;
    margin-top: 10px;
    text-align: justify;
}



/*head */

.txt_head_story_la{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 2.5em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}

.txt_head_story_th{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 2.5em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}

.txt_head_story_en{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 2.5em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}

.txt_head_story_jp{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 1.8em;
    padding-left: 0rem;
    padding-right: 1.5rem;
    line-height: 3.3rem !important;
}
.title_center2{
    margin-right:1.4em;
}
.title_center3{
   margin-right: 18vw;
}
.title_center4{
   margin-right: 10vw; 
}
.force-overflow {
    min-height: 1em;
    margin-right: 6em;
}

.top_business_1{
   margin-top: 1em; 
}

.top_business_2{
   margin-top: 0.8em; 
}

.top_head_mar{
     margin-top: 0.7em; 
}

txt_menu_en_jp{
    font-family: "db_helvethaica_x";
    font-weight: normal;
    font-size: 1.4em;
    display: inline;
}

.txt_head_en_jp{
    font-family: "db_helvethaica_x";
    font-size: 1.4em;
    display: inline;
    position: absolute;
    margin-top: -0.11em;
}
.txt_head_en2_jp{
    font-family: "db_helvethaica_x";
    font-weight: bold;
    color: #FFF !important;
    font-size: 1.5em;
    padding-left: 0rem;
    padding-right: 1.3rem;
    line-height: 2rem !important;
}
 .txt_story_left_la {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 2.2em;
    line-height: 2rem !important;
}
.txt_story_left_en {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 2.2em;
    line-height: 2rem !important;
}
.txt_story_left_th {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 2.2em;
    line-height: 2rem !important;
}

.txt_story_left_jp {
    font-family: "db_helvethaica_x";
    font-weight: normal;
    color: #FFF !important;
    font-size: 1.3em;
    line-height: 2rem !important;
}

.menu_data{
  color: #FFF ;
  text-decoration: none;
}

.row_data{
    color: #FFF ;
}

 .menu_title_action{
     font-size: 2.1em;
    margin-top: 10px !important;
    color: #F00 !important;
    text-decoration: underline !important;
}